
# Fichiers générés par Composer
/vendor/

# Fichiers générés par npm/yarn
/node_modules/
/build/

# Cache et logs de Symfony
/var/
/var/log/
/var/cache/

# Secrets locaux
/.env.local
/.env.local.php
/.env.test.local
/.env.prod.local

# fichiers de dump SQL temporaires
/*.sql
/*.sqlite

# IDE / système
/.idea/
/*.iml
/.vscode/
/.DS_Store
Thumbs.db

# Debug / Profiler
/public/bundles/

